body{
    margin: 0;
    padding-top: 50px;
    font-family: 'Lato', sans-serif;

}
form{
    width: 355px;
    margin: auto;
}
fieldset{
    background-color: rgb(10, 53, 53);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}
a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    padding-top: 15px;
    margin-top: 10px;
}
a:nth-of-type(1){
    margin-left: 7px;
    background: rgb(8, 133, 8);
    border: 2px solid rgb(8, 104, 8);
}
a:nth-of-type(1):hover{
    background: rgb(11, 179, 11);
    border: 2px solid rgb(12, 153, 12);
}
a:nth-of-type(2):hover{
    background: rgb(11, 179, 11);
    border: 2px solid rgb(12, 153, 12);
}
h1{
    color: #ffffff;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 40px;
}
input{
    margin-bottom: 20px;
    padding: 5px;
    background: rgb(225, 255, 225);
}
input:nth-of-type(3){
    width: 95%;
}
input:nth-of-type(4){
    width: 95%;
    margin-bottom: 39px;
}
input:last-of-type{
    width: 99%;
    background: rgb(8, 133, 8);
    border: 2px solid rgb(8, 104, 8);
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    padding: 5px 0 10px 0;
}
input:last-of-type:hover{
    background: rgb(11, 179, 11);
    border: 2px solid rgb(12, 153, 12);
}